@charset "utf-8";

#wrap {
    width: 675px;
    height: 742px;
    margin: 0 auto;
    background-color: #cbaaa1;
    border-radius: 10px;
}
header {
    color: #fff;
}

header h2 {
    font-size: 18px;
    padding-top: 21px;
    padding-left: 19px;
}
header p {
    margin-top: 13px;
    font-size: 12px;
    padding-left: 19px;
}
header nav li{
    margin-top: 19px;
    float: left;
    font-size: 13px;
}
header nav li a:hover {
    padding: 5px;
    background-color: #976251;
}
header nav li span{
    width: 1px;
    height: 11px;
    color: #d5bbb4;
    padding: 0 15px;
}
header nav ul li:first-child {
    padding-left: 19px;
}
/* 메인 */
main .info {
    width: 652px;
    height: 600px;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 26px;
}
main .info .info_name {
    font-weight: 600;
    color: #424242;
    font-size: 18px;
    padding-top: 21px;
    padding-left: 19px;
}
main .dl_list .cover {
    float: left;
}
main .info .secondbox {
    margin-left: 30px;
    margin-right: 9px;
    font-size: 13px;
    color: #808080;
    float: left;
}
main .info .secondbox dt {
    padding-bottom: 12px;
}
main .info .secondbox dd {
    padding-bottom: 12px;
}
main .info .thirdbox {
    font-size: 12px;
    color: #424242;
    float: right;
}
main .info .thirdbox a {
    color: #0c43b7;
}

main .info .thirdbox dt {
    font-weight: 600;
    padding-bottom: 13px;
}
main .info .thirdbox dd {
    font-weight: 600;
    padding-bottom: 13px;
}
main .info .dl_list {
    margin-top: 25px;
    width: 100%;
}
main img {
    margin-right: 15px;
    margin-top: 25px;
    float: right;
    height: 107px;
}
main .i_listen {
    background-color: #fafbfc;
}
main .i_listen .i_youtube{
    width: 488px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 12px;
    border: 1px solid #e3e6e8;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 6px;
    float: left;
}
.i_cover {
    float: left;
}
main .i_listen .i_heart {
    width: 82px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 12px;
    border: 1px solid #e3e6e8;
    border-radius: 5px;
    margin-right: 6px;
    float: left;
}
main .i_listen .i_share {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 12px;
    border: 1px solid #e3e6e8;
    border-radius: 5px;
    float: right;
    margin-right: 15px;
}
.hr {
    margin-left: 20px;
    margin-right: 15px;
    border-bottom: 1px solid #f2f4f6;
}

.sns i {
    width: 18px;
    height: 18px;
}
.sns h2 {
    margin: 15px;
}
.sns p {
    font-size: 13px;
    margin: 10px;
}

.sns_1 p:first-child {
    float: left;
}
.sns_1 p:last-child {
    float: right;
}
.sns_2 p:first-child {
    float: left;
}
.sns_2 p:last-child {
    float: right;
}
.sns_3 p:first-child {
    float: left;
}
.sns_3 p:last-child {
    float: right;
}
.sns_4 p:first-child {
    float: left;
}
.sns_4 p:last-child {
    float: right;
}
.sns_5 p:first-child {
    float: left;
}
.sns_5 p:last-child {
    float: right;
}
.sns h2 i {
    margin-left: 5px;
}
.fix p i {
    margin-left: 5px;
}
