@charset "utf-8";
#wrap {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 15px;
}
li {
    list-style-type: disc;
    list-style-position: inside;
    text-align: justify;
    text-decoration: underline;
}
a {
    color: blue;
}
#wrap header h1 {
    font-size: 28px;
    font-weight: 700;
    background-color: skyblue;
    padding: 25px;
}
main {
    background-color: silver;
    padding: 10px;
}
article {
    margin: 10px 10px;
    background-color: red;
}
article section {
    margin: 10px;
}
article section h2{
    font-weight: 700;
    font-size: 24px;
    padding: 20px 0;
}
.left_side {
    width: 150px;
    background-color: yellow;
    padding: 20px;
    float: left;
    margin-left: 15px;
}

.mid {
    width: 540px;
    background-color: pink;
    padding: 25px;
    float: left;
}

.right_side {
    width: 160px;
    background-color: rgb(194, 22, 194);
    padding: 20px;
    float: right;
    margin-right: 15px;
}
footer {
    background-color: skyblue;
    padding: 20px;
}
footer h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}