@charset "utf-8";

/* main */
.contents {
    padding-top: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}


/* title  */
.contents .title {
    text-align: center;
    margin-bottom: 50px;
}
.contents .title h2 {
    font-size: 36px;
    font-weight: 500;
}
.contents .title p {
    margin: 5px 0 0 6px;
    padding-left: 10px;
    font-size: 14px;
}

/* imgList */
.imgList li {
    width: 392px;
    padding-bottom: 65px;
    margin: 20px 32px 20px 0;
    float: left;
}
.imgList li:nth-child(3),
.imgList li:nth-child(6) {
    margin-right: 0;
}

























