@charset "utf-8";

#wrap {
    width: 1400px;
    margin: 0 auto;
    padding: 38px 140px 44px 140px;
}
#wrap .left_field {
    width: 40%;
    float: left;
}
#wrap header {
    margin-bottom: 16px;
}
/* 이름 */
#wrap header h1 {
    font-size: 36px;
    margin: 12px 0 40px 5px;
    color: #104555; 
}

/* 연락처 */
#wrap .left_field .tel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
}

/* 이메일 */
#wrap .left_field .email {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
}
/* 이미지 */
#wrap .left_field img {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-right: 9px;
    padding-bottom: 2px;
}
#wrap main .content {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 2px;
    margin-bottom: 24px;
}
#wrap main .github {
    height: 113px;
    margin-left: 2px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
#wrap main .github h2 {
    font-size: 10px;
    margin-top: 28px;
}
#wrap main .github p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 13px;
    margin-top: 15px;
}
#wrap main .avility {
    height: 190px;
    margin-left: 2px;
    margin-top: 28px;
    border-bottom: 1px solid #666;
}
#wrap main .avility h2 {
    margin-bottom: 12px;
}
#wrap main .avility button {
    margin-bottom: 21px;
}




/* 오른쪽필드 */
#wrap .right_field {
    width: 55%;
    float: right;
}
/* 학력 */
.right_field .college {
    height: 182px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
}

.right_field .college .c_edu {
    margin-top: 30px;
    margin-left: 26px;
    font-size: 17px;
    margin-bottom: 24px;
}
.right_field .college .c_date {
    margin-left: 26px;
    font-size: 13px;
    margin-right: 48px;
}
.right_field .college .c_name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #104555;
}
.right_field .college .c_major {
    margin-bottom: 12px;
    font-size: 14px;
}
.right_field .college .c_grade {
    font-size: 12px;
}
/* 업무경험 */
.right_field .experience {
    height: 260px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
}
.right_field .experience .e_edu {
    margin-top: 30px;
    margin-left: 26px;
    font-size: 17px;
    margin-bottom: 24px;
}
.right_field .experience .e_date {
    margin-left: 26px;
    font-size: 13px;
    margin-right: 48px;
    margin-bottom: 12px;
}
.right_field .experience .e_date2 {
    margin-left: 26px;
    font-size: 13px;
    margin-right: 48px;
}
.right_field .experience .e_name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #104555;
}
.right_field .experience .e_secondbox button {
    margin-bottom: 17px;
    color: #93969d;
}

.right_field .experience .e_secondbox .e_li {
    font-size: 16px;
    font-weight: 600;
    list-style: disc;
    line-height: 2;
    color: #484148;
}
.right_field .experience .e_secondbox .e_li2, .e_li3 {
    list-style: circle;
    font-weight: normal;
    line-height: 1.5;
    margin-left: 13px;
}
/* 자격증 */
.right_field .license {
    height: 160px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
}
.right_field .l_name {
    margin-top: 30px;
    margin-left: 26px;
    font-size: 17px;
    margin-bottom: 24px;
}
.right_field .l_date {
    margin-left: 26px;
    font-size: 13px;
    margin-right: 48px;
    margin-bottom: 12px;
}
.right_field .l_name2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 70px;
    color: #104555;
}
/* 활동 */
.right_field .activity {
    height: 160px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
}
.right_field .a_name {
    margin-top: 30px;
    margin-left: 26px;
    font-size: 17px;
    margin-bottom: 24px;
}
.right_field .a_date {
    margin-left: 26px;
    font-size: 13px;
    margin-right: 48px;
    margin-bottom: 12px;
}
.right_field .a_name2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #104555;
}