@charset "utf-8";

.w1320 {
    width: 1320px;
    margin: 0 auto;
}

#wrap {
    width: 100%;
}
/* 헤더 */
header .logo_gnb {
    width: 1170px;
    float: left;
    margin-left: 20px;
}

header article img{
    float: left;
}
header nav ul li{
    color: #fff;
    float: right;
    margin-left: 27px;
    line-height: 58px;
}
header .search {
    float: right;
    margin-top: 10px;
    margin-right: 26px;
}
header {
    background-image: url(../images/slide_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
header .text_1 {
    margin-top: 200px;
}
header .text_1 h2{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin-left: 68px;
    padding: 10px 0;
}
header .text_1 p {
    color: #999999;
    margin-left: 68px;
    font-size: 10px;
    margin-top: 14px;
    padding: 10px 0;
}
header .text_1 .yellow_box {
    width: 152px;
    height: 48px;
    background-color: #ffcc33;
    margin-left: 68px;
    margin-top: 18px;
    text-align: center;
    line-height: 48px;
    font-size: 15px;
    font-weight: 600;
}
/* 메인 */
/* m1 */
main .m1 {
    background-color: #b4b4b4;
    height: 558px;
}
main .cardbox {
    width: 400px;
    height: 500px;
    position: relative;
}
main .cardbox .card1 {
    position: absolute;
    right: 430px;
    bottom: 80px;
    z-index: 1;
}
main .cardbox .card2 {
    position: absolute;
    left: 0;
    bottom: 80px;
    z-index: 1;
}
main .cardbox .card3 {
    position: absolute;
    left: 430px;
    bottom: 80px;
    z-index: 1;
}
main .c_text1 {
    margin-left: 25px;
    color: #807f7f;
    float: left;
}
main .c_text1 span{
    color: #373636;
}
main .c_text2 {
    color: #878686;
    float: right;
}
main .c_text2 img {
    margin-right: 25px;
}
/* m2 */
main .m2 {
    background-color: #fff;
    height: 872px;
}
main .m2 img {
    width: 1280px;
    height: 500px;
}
main .m2 .m2_text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 61px;
    font-size: 17px;
    line-height: 1.5;
}
main .m2 .m2_text p {
    padding-bottom: 20px;
    color: #807f7f;
}
main .m2 .m2_text p:nth-child(3) {
    padding-bottom: 0;
}

/* m3 */
main .m3{
    background-image: url(../images/mov_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    
}
main .m3 .movie_clip {
    width: 1060px;
    height: 560px;
    position: relative;
}
main .m3 .movie_clip img {
    position: absolute;
    left: 0;
    top: 310px;
    z-index: 1;
}
/* m4 */
main .m4 {
    height: 1000px;
    background-color: #fff;
}

main .m4 .why img{
    width: 1280px;
    height: 500px;
    margin-bottom: 70px;
    margin-top: 400px;
}
/* m5 */
main .m5 {
    background-color: #dcdcdc;
}
main .m5 .m5_faq {
    height: 692px;
    padding-top: 100px;
}
/* m6 */
main .m6 {
    background-color: #ffcc33;
    padding-left: 20px;
}
/* footer */
footer {
    background-color: #000;
    height: 550px;
}
footer .foot dt{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}
footer .foot dd {
    padding-bottom: 10px;
    font-size: 13px;
}
/* firstbox */
footer .foot .f_firstbox {
    padding-top: 130px;
    margin-right: 215px;
    float: left;
    margin-left: 20px;
}
footer .foot .f_firstbox img {
    margin-bottom: 25px;
    margin-right: 20px;
}
footer .foot .f_firstbox p{
    color: #b2b2b2;
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 13px;
}
/* secondbox */
footer .foot .f_secondbox dl {
    padding-top: 150px;
    margin-right: 215px;
    color: #fff;
    float: left;
}
footer .foot .f_secondbox dl span{
    color: #d1a728;
}
/* thirdbox */
footer .foot .f_thirdbox dl {
    padding-top: 150px;
    color: #fff;
    float: left;
}
/* fourbox */
footer .foot .f_fourbox dl {
    padding-top: 150px;
    color: #fff;
    float: right;
    margin-right: 20px;
}
footer .underline {
    margin-top: 80px;
    border-bottom: 1px solid #fff;
}

footer .copyright {
    text-align: center;
    color: #fff;
    margin-top: 40px;
}













