@charset "utf-8";

.width{
  width: 1320px;
  margin: 0 auto;
}
#wrap {
  width: 100%;
}
header .sub {
  background-color: silver;
  margin-bottom: 20px;
}
header .sub ul {
  float: right;
}
header .sub ul li {
  float: left;
}
header .sub ul li a {
  margin-left: 10px;
}
header .mainNav{
  margin-bottom: 20px;
}
header .mainNav h2 img {
  width: 6%;
  height: 30px;
  float: left;
}
header .mainNav nav{
  float: right;
}
header .mainNav ul {
  float: right;
}
header .mainNav ul li {
  float: left;
}
header .mainNav ul li a {
  margin-left: 20px;
}

main section p {
  width: 100%;
  height: 300px;
  background-color: yellowgreen;
  margin-bottom: 10px;
}
.content1 h2 {
  width: 33.33%;
  height: 100px;
  background-color: skyblue;
  margin: 10px 0 10px 0;
}
.content1 .cover1 h2:first-child {
  float: left;
}
.content1 .cover1 h2:nth-child(2) {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
.content1 .cover1 {
  float: left;
}
.content1 .cover1+h2{
  float: right;
}
.content1 {
  margin-bottom: 0;
}

.box1 img {
  margin: 10px 20px 20px 0;
  width: 426px;
  height: 700px;
  background-color: skyblue;
  float: left;
}

.box2 img {
  margin: 10px 20px 20px 0;
  width: 426px;
  height: 700px;
  background-color: skyblue;
  float: left;
}

.box3 img{
  margin: 10px 20px 20px 0;
  width: 426px;
  height: 700px;
  background-color: skyblue;
  float: left;
}
.box4 img {
  margin: 10px 20px 20px 0;
  width: 426px;
  height: 700px;
  background-color: skyblue;
  float: left;
}
.box5 img {
  margin: 10px 20px 20px 0;
  width: 426px;
  height: 700px;
  background-color: skyblue;
  float: left;
}
.box6 img {
  margin: 10px 20px 20px 0;
  width: 426px;
  height: 700px;
  background-color: skyblue;
  float: left;
}
.box4 img {
  margin-top: 0;
}
.box5 img {
  margin-top: 0;
}
.box6 img {
  margin-top: 0;
}


.box3 img {
  margin-right: 0 !important;
}
.box6 img {
  margin-right: 0 !important;
}

footer img {
  padding-top: 15px;
}