@charset "utf-8";

#wrap {
    width: 1920px;
    height: 1200px;
    margin: 0 auto;
    background-image: url(../images/main_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px;
}
/* header */
header {
    margin-left: 50px;
    margin-bottom: 50px;
}
header h1 {
    font-size: 48px;
    font-weight: 700;
    /* 플롯 */
    float: left;
    margin-right: 120px;
    
}
header nav {
    /* 플롯 */
    float: left;
}
header ul li {
    margin-right: 70px;
    font-size: 20px;
    color: #666;
    font-weight: 500;
    /* 플롯 */
    float: left;
}
header img {
    /* 플롯 */
    float: right;
    margin-right: 40px;
}
/* main */
main {
    position: relative;
}
main .m_text h1{
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 300px;
}
main .m_text p {
    line-height: 1.5;
    margin-left: 20px;
    font-size: 18px;
    color: #666;
}
main .m_sh {
    position: absolute;
    left: 70%;
    top: -50%;
    z-index: 9999;
}
main .m_btn {
    margin-top: 100px;
    margin-left: 20px;
}
/* footer */
footer p {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
}