@charset "utf-8";
body {
    font: 13px 'Noto Sans KR', sans-serif;
    background-color: #aaa;
}
#wrap {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
}
/* Header */
header {
    background-color: #fa0;
    color: #fff;
    text-align: center;
}
header h1 {
    font-size: 800%;
    font-weight: 700;
}
header h1 span {
    font-size: 20px;
    padding: 4px;
    font-weight: 400;
    /* 글자가 인라인으로 붙어있는 것을 
    한줄 한줄로 보여주기 위해서 display: block;을 사용 */
    display: block;
}
header p {
    font-size: 12px;
    background-color: #ccc;
    color: #333;
    padding: 5px;
}
header p>span {
    color: blue;
    font-weight: 700;
}
/* Contents */
#container::after {
    content: "";
    display: block;
    clear: both;
}
#container #cover {
    width: 600px;
    float: left;
}
/* 콘텐츠 내용1 */
#container #cover .content {
    width: 400px;
    background-color: #ddd;
    color: #123456;
    float: right;
}
/* 인접 형제 선택자 */
#container #cover .content dt+dd {
    font-size: 1.2rem;
    font-weight: 700;
}
#container #cover .content dt a {
    font: bold 1.3rem 'Noto Sans KR', sans-serif;
    color: #ddd;
    padding: 5px;
    background-color: #123456;
    display: block;
}
/* 왼쪽메뉴1 */
#container #cover .sidemenu {
    width: 200px;
    background-color: #fff;
    float: left;
}
#container #cover .sidemenu dt {
    font: bold 1.3rem 'Noto Sans KR', sans-serif;
    color: #fff;
    background-color: #900;
}
#container #cover .sidemenu dd a {
    color: #000;
    border-bottom: 1px dashed #000;
}
#container #cover .sidemenu dd a:hover{
    border-bottom: 1px solid #900;
}
/* 오른쪽 콘텐츠1 */
#container .aside {
    width: 200px;
    float: right;
}
#container .aside dt {
    font: bold 1.2em 'Noto Sans KR',sans-serif;
}
#container .aside dt .all {
    text-decoration: underline;
}
#container .aside dt .love {
    color: #fa0;
    text-decoration: underline;
}
#container .aside dt strong {
    color: #333;
}
#container .aside span {
    display: block;
}
#container .aside dd a {
    color: #000;
}
/* Footer */
footer p {
    font: italic 0.75em 'Noto Sans KR',sans-serif;
    color: #eee;
    padding: 10px;
    background-color: #123456;
    text-align: center;
}
footer p a {
    color: #900;
}
/* 추가 dt, dd */
dt,dd {
    padding: 10px;
}




